* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}


body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #555;
    /* padding: 0 1.2rem; */
}



/* *********************** */

/* Navigation */


/* *********************** */

/* Hero */
.Heading--description {
    color: #333;
    font-size: 5.2rem;
    line-height: 1.05;
    font-weight: 700;
    margin-bottom: 3.2rem;
    letter-spacing: -0.5px;

}

.Paragraph--decription {
    font-size: 2rem;
    margin-bottom: 4.8rem;
}


.section--hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0rem 9.6rem 0rem;
}


.hero {
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;

}

.hero--img {
    width: 100%;
}


.delivered--images {

    display: flex;
    align-items: center;
    justify-content: center;

}

.delivered--images img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 0.3rem solid #fdf2e9;
}


.delivered--meals {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}



.delivered--images img:last-child {
    margin-right: 0;
}

.delivered--text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered--text span {
    color: #cf711f;
}


/* *********************** */

/* General */

.margin--right {
    margin-right: 1.6rem !important;
}


.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    transition: all 0.3;
    text-decoration: none;
    /* background-color: #e67e22; */
    border-radius: 0.9rem;
    padding: 1.6rem;
    font-size: 2rem;
    font-weight: 600;
    /* color: #fff; */
}

.btn--full:link,
.btn--full:visited {
    background-color: #e67e22;
    color: #fff;
    transition: all 0.3s;
}

.btn--full:hover,
.btn--full:active {
    background-color: #cf711f;
}


.btn--outline:link,
.btn--outline:visited {
    background-color: #fff;
    color: #555;
}

.btn--outline:hover,
.btn--outline:active {
    background-color: #fdf2e9;
    box-shadow: 0 0 0 3px #fff;
}

/* *********************** */

/* Navigation */



.Header {
    display: flex;
    justify-content: space-between;
    background-color: #fdf2e9;
    padding: 3.2rem;
}


.main--nav--link:link,
.main--nav--link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all 0.4s;
}

.main--nav--link:hover,
.main--nav--link:active {
    /* text-decoration: none; */
    color: #cf711f;
}


.main--nav--link.nav--cta:link,
.main--nav--link.nav--cta:visited {
    color: #fff;
    background-color: #e67e22;
    padding: 1.2rem 2.4rem;
    border-radius: 0.9rem;
}

.main--nav--link.nav--cta:hover,
.main--nav--link.nav--cta:active {
    background-color: #cf711f;

}


.main--nav--list {
    display: flex;
    gap: 3.2rem;
    list-style: none;
    justify-content: center;
    align-items: center;

}

.logo--img {
    height: 2.4rem;
}

/* *********************** */

.container {
    width: 120rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 9.6rem;
    column-gap: 6.4rem;
    align-items: center;
}

.grid--3 {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: start;
}


.step--img--box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.step--img--box::after,
.step--img--box::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.step--img--box::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: #fdf2e9;


}

.step--img--box::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
}


.step--img {
    width: 35%;
}

.subheading {
    display: block;
    margin-top: 9.6rem;
    margin-bottom: 1.6rem;
    font-weight: 500;
    font-size: 2rem;
    color: #cf711f;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

.second--primary--heading {
    font-size: 5.2rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 6.2rem;
    line-height: 1.2;
}

.step--number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.heading--teritary {
    font-size: 3rem;
    margin-bottom: 3.2rem;
    line-height: 1.2;
    color: #333;

}

.step--description {
    font-size: 1.8rem;
    line-height: 1.8;
}





.section--featured {
    padding: 4.8rem 0;
}

.logos {
    display: flex;
    justify-content: space-around;

}

.logo {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}

.featured--heading {
    font-size: 1.4rem;
    letter-spacing: 0.75px;
    text-align: center;
    margin-bottom: 2.4rem;
}

.section--meals {
    padding: 9.6rem 0;
}

.meal--img {
    width: 100%;
}

.meal--title {
    font-size: 2rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.meal--attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal--attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.meal--icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #cf711f;
}


.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    /* padding:1.2rem; */
    transition: all 0.4s;
    margin-bottom: 4.8rem;
}


.meal:hover {
    transform: translateY(-1.2rem);
}

.meal--content {
    padding: 3.2rem;
}

.tag {
    font-size: 1.2rem;
    background-color: #51cf66;
    display: inline-block;
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    border-radius: 100px;
    margin-bottom: 1.2rem;
    font-weight: 600;
}

.yellow--color {
    background-color: #ffd43b;
}


strong {
    font-weight: 500;
}

.tags {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.6rem;
}


.list--item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.8rem;
}

.list--icon {
    width: 3rem;
    height: 3rem;
    color: #e67e22;
}

.center--text {
    text-align: center;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: #e67e22;
    border-bottom: 1px solid currentColor;
    font-size: 1.8rem;
}

.section--testimonials {
    display: grid;
    grid-template-columns: 55fr 45fr;
    padding: 9.6rem 1.2rem;
    background-color: #fae5d3;
    align-items: center;
    justify-content: center;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
}

.testimonial--img {
    width: 6.4rem;
    border-radius: 50%;
}

.gallery {
    font-size: 1.8rem;
}


.testimonial--text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

.testimonial--name {
    font-size: 1.6rem;
    color: #777;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}


.gallery--item {
    overflow: hidden;
}

.gallery--item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.gallery--item img:hover {
    transform: scale(1.1);
    border-radius: 0.9rem;
    box-shadow: 0 0 3 rgba(0, 0, 0, 0.075);
}

.container--pricing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6.4rem;
    margin-bottom: 9.6rem;
    /* align-items: center; */
    /* justify-content: center; */
}



.Pricing--plan {

    border-radius: 1.1rem;
    width: 75%;
    padding: 4.8rem;
}


.plan--header {
    text-align: center;
    margin-bottom: 4.8rem;
}

.Plan--name {
    color: #cf711f;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
    letter-spacing: 0.75px;
    text-transform: uppe;
}

.plan--price {
    color: #333;
    font-weight: 600;
    font-size: 6.2rem;
    margin-bottom: 1.6rem;
}

.plan--price span {
    margin-right: 1.8rem;
    font-weight: 500;
}

.plan--text {
    color: #777;
    font-size: 1.6rem;
    line-height: 1.6;
}

.plan--signup {
    text-align: center;
    margin-top: 4.8rem;
}


.first--plan {
    justify-self: end;
    /* background-color: #fff; */
    border: 2px solid #fae5d3;

}

.Complete--plan {
    background-color: #fae5d3;
    position: relative;
    overflow: hidden;
}

.Complete--plan::after {
    content: "Best value";
    position: absolute;
    top: 6%;
    right: -18%;
    font-size: 1.4rem;
    font-weight: 700;
    transform: rotate(45deg);
    background-color: #f9c91a;
    padding: 0.8rem 8rem;
}

.grid--4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.feauture--title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.feauture--text {
    font-size: 1.8rem;
    line-height: 1.8;
}

.feauture--icon {
    color: #cf711f;
    height: 2.4rem;
    width: 2.4rem;
    margin-bottom: 3.2rem;
    background-color: #fae5d3;
    padding: 1.6rem;
    border-radius: 50%;
}

.section--pricing {
    margin-bottom: 4.8rem;
}

.section--cta {
    padding: 9.6rem 0;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    height: 50rem;
    overflow: hidden;
}

.cta--img--box {
    background-image: linear-gradient(to right bottom, rgba(244, 175, 115, 0.5), rgba(230, 125, 34, 0.5)),
        url(../content/img/eating.jpg);
    background-size: cover;
    background-position: center;
}

.cta--text--box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.form--heading {
    color: #333;
    font-size: 4rem;
    margin-bottom: 3.2rem;
}

.form--text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.cta--form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}



.cta--form label {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
}

.cta--form input,
.cta--form select {
    width: 100%;
    font-size: 1.8rem;
    padding: 1.2rem;
    border-radius: 11px;
    border: none;
    background-color: #fae5d3;
}

.cta--form input::placeholder {
    color: #777;
}

.cta--form button {
    border: none;
    align-self: end;
    color: #fae5d3;
    background-color: #7f3f14;
    transition: all 0.4s;
    padding: 1.2rem;
}

.cta--form button:hover {
    color: #7f3f14;
    background-color: #fae5d3;
}

.cta--form *:focus {
    outline: none;
    box-shadow: 0 0 0 0.4rem rgba(253, 242, 233, 0.6);
}

.grid--5 {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer {
    padding: 9.6rem 0;
    border-top: 1px solid #ddd;
}

.footer--heading {
    margin-bottom: 4rem;
    font-size: 1.8rem;
    color: #333;
    font-weight: 500;
}

.footer--list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer--link:link ,
.footer--link:visited{
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    cursor: pointer;
    transition: all 0.3s;
}

.footer--link:hover ,
.footer--link:active {
    color: #555;
}

.social--links{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
}


.logo--col{
    display: flex;
    flex-direction: column;
}

.footer--logo{
    display: block;
    margin-bottom: 3.2rem;
}

.social--icon{
    height: 2.4rem;
    width: 2.4rem;
}

.copyright{
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto;
}

.contacts{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}
.contacts p{
    font-size: 1.6rem;
    color: #767676;
    margin-bottom: 2.4rem;
}
